@font-face {
    font-family: f1;
    src: url(/Beautiful\ People\ Personal\ Use.ttf);
}
@font-face {
    font-family: a1;
    src: url(/AudiTypeVF.woff2);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
.main{
    background-image: url(https://images.unsplash.com/photo-1542282088-72c9c27ed0cd?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0px 0px;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #f7f1e6;
    font-family: a1;
    font-size: 93px;
    text-shadow: 5px 5px #1d1e1e4c;
}
button{
    padding: 12px 45px;
    font-weight: 700;
    margin-top: 5px;
    font-size: large;
    background-color: #4E402B;
    color: white;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}
button:hover{
    background-color: #94856a;
    color: #f7f1e6;
    transition: 0.3s;
    transform: scale(1.05);

}